@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize/components/color";
@import "materialize";

* {box-sizing: border-box;}

$chart-background-color: #fff;
$button-size: 4.8rem;

html, body {
  height: 100%;
  background-color: #eeeeee;
  .left-layout {
    margin-top: 1.1rem;
    .user-count {
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
      border-radius: 2px;
      background-color: $chart-background-color;
      transition: box-shadow .25s;
      margin-left: 1rem;
      margin-bottom: .5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4rem;
      h1 {
        font-size: 2rem;
        font-weight: 400;
        color: #26a69a;
      }
    }


    .collection {
      margin-top: 18px;
      height: 210px;
      overflow: scroll;
      overflow-x: hidden;
      margin-left: 1rem;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
      border-radius: 1px;
      transition: box-shadow .25s;
      li.collection-item.avatar {
        display: flex;
        align-items: center;
        min-height: 60px;
      }
      .collection-item.active {
        color: #26a69a;
      }
    }

    .title-username{
     font-size: 2rem;
     font-weight: 400;
    }
  }


  .radar-pie {
    flex-direction: column;
    align-items: center;
    height: 26.5rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 2px;
    background-color: $chart-background-color;
    transition: box-shadow .25s;
    p {
      color: #26a69a;
    }
    .recharts-layer {
      font-size: 0.95rem;
    } 
  }
  .row.filling {
    height: 2rem;
  }


  .age-user-pie {
    .agepie.col.s6 {
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
      border-radius: 1px;
      background-color: $chart-background-color;
      height: 335px;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        color: #26a69a;
      }
      .buttons-first-row {
        margin-top: .925rem;
        display: flex;
        flex-wrap: none;
        justify-content: space-between;
        button {
          width: $button-size;
          margin: 0.5rem;
          height: 2rem;
          padding:.1rem;
          padding-bottom:2.2rem;  
        }
      } 
  }
    .col.s1.filling-div {
      width: 3%;
    }
  }


  .userpie.col.s5 {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 2px;
    background-color: $chart-background-color;
    height: 335px;
    display: flex;
    align-items: center;

    margin-left: 2.5rem;
    .col.s12 {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      p {
        color: #26a69a;
      }

      .buttons {
        margin-top: -.75rem;
        display: flex;
        flex-wrap: none;
        justify-content: space-between;

        button {
          width: $button-size;
          margin: 0.5rem;
          height: 2rem;
          padding:.1rem;
          padding-bottom:2.2rem;  
        }
      }
    }
  }


  .timeseries {
    align-self: left;
    overflow: none;
    width:  100%;
    height: 622px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 2px;
    background-color: $chart-background-color;
    display: flex;
    align-items: center;

    .col.s12 {
      display: flex;
      flex-direction: column;
      p {
        color: #26a69a;
      }
      
      .buttons {
        margin-bottom: 1.5rem;
        align-self: flex-start;
        margin-left: 22.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        button {
          width: $button-size;
          margin: 0.5rem;
          height: 2rem;
          padding: .1rem;
          padding-bottom: 2.2rem;        
        }
      }
    }
  }
}

